.idea/
*.pyc
~*/
.vscode/

audio_cache/
dectalk/

discord.log



config/permissions.ini
config/aliases.json
config/autoplaylist.txt
config/autoplaylist_removed.txt
config/whitelist.txt
config/blacklist.txt
